<div class="my-2 my-lg-0">
    <button type="button" class="btn btn-transparant font-weight-bold mx-5"><a href="/login" style="color: black; text-decoration: none;">Login</a></button>
    <button class="btn btn-orange my-2 my-sm-0 px-3" type="submit"><a href="/register" style="color: white; text-decoration: none;">Sign Up</a></button>
</div>